<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>
    <connectionStrings>
        <add name="DB01HMS92ConnectionString" connectionString="Data Source=172.25.192.72;Initial Catalog=DB01HMS92;User ID=PJ01HMS92;Password=tcshyd"
            providerName="System.Data.SqlClient" />
        <add name="DB01HMS92ConnectionString2" connectionString="Data Source=172.25.192.72;Initial Catalog=DB01HMS92;User ID=pj01hms92;Password=tcshyd"
            providerName="System.Data.SqlClient" />
        <add name="DB01HMS92ConnectionString3" connectionString="Data Source=172.25.192.72;Initial Catalog=DB01HMS92;User ID=pj01hms92;Password=tcshyd"
            providerName="System.Data.SqlClient" />
        <add name="myfirstdatabaseConnectionString" connectionString="Data Source=LENOVO\SQLEXPRESS;Initial Catalog=myfirstdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="myfirstdatabaseConnectionString2" connectionString="Data Source=LENOVO\SQLEXPRESS;Initial Catalog=myfirstdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DB01HMS92ConnectionString4" connectionString="Data Source=172.25.192.72;Initial Catalog=DB01HMS92;User ID=pj01hms92;Password=tcshyd"
            providerName="System.Data.SqlClient" />
        <add name="DB01HMS92ConnectionString5" connectionString="Data Source=172.25.192.72;Initial Catalog=DB01HMS92;User ID=pj01hms92;Password=tcshyd"
            providerName="System.Data.SqlClient" />
        <add name="myfirstdatabaseConnectionString3" connectionString="Data Source=LENOVO\SQLEXPRESS;Initial Catalog=myfirstdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="myfirstdatabaseConnectionString4" connectionString="Data Source=LENOVO\SQLEXPRESS;Initial Catalog=myfirstdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DB01HMS92ConnectionString6" connectionString="Data Source=172.25.192.72;Initial Catalog=DB01HMS92;User ID=pj01hms92;Password=tcshyd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
